@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  font-family: Raleway, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  background: transparent;
  padding: 16px;
  color: white;
  text-align: center;
}

header h1 {
  font-family: "Satisfy", cursive;
  font-size: 60px;
  color: #fff;
  text-align: center;
  animation: flicker 1.5s infinite alternate;

}

@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #6702aa,
        0 0 80px #6702aa,
        0 0 90px #6702aa,
        0 0 100px #6702aa,
        0 0 150px #6702aa;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
  


.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper .container {
  width: 1024px;
  border-radius: 8px;
  margin: 16px;
  background: #f8f9fa;
  padding: 16px;
  flex-grow: 1;
  height: auto;
}

.item {
  border-radius: 16px;
  margin-top: 16px;
  padding: 12px 24px 12px 24px;
  background: white;
  display: flex;
  align-items: center;
}

.item > .inner h2 {
  margin-bottom: unset;
}

.item > .inner p {
  margin-top: 5px;
}

.form, .form-search {
  display: flex;
  padding: 16px;
  flex-direction: column;
  
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: lighter;
}

.shadow {
  box-shadow: 0 5px 10px rgba(255, 176, 176, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

input[type="text"],
input[type="number"] {
  font-family: Raleway, sans-serif;
  background: #f5f1ff;
  border: 2px solid #000000;
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 8px;
  font-size: 24px;
}

.btn-submit {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  border-radius: 16px;
  padding: 10px 14px;
  margin-top: 5px;
  border: 2px solid #242424;
  color: black;
  font-size: 24px;
  align-self: center;
  cursor: pointer;
}

.btn-submit:hover {
  background: #6702aa;
  border: 2px solid #f5f1ff;
  color: white;
}

input[type="text"],
input[type="date"],
.btn-submit:focus {
  outline: none;
}

.text-center {
  text-align: center;
}

.form-title {
  margin: auto 0;
}

.check-button {
  width: 40px;
  height: 40px;

  background: url("../assets/check.png");
  background-size: contain;
  margin-left: auto;
  cursor: pointer;
  border: none;
}

.check-button:hover {
  background: url("../assets/check-solid.svg");
  background-size: contain;
}

.trash-button {
  width: 40px;
  height: 40px;

  background: url("../assets/trash.png");
  background-size: contain;
  margin-left: 16px;
  cursor: pointer;
  border: none;
}

.trash-button:hover {
    background: url("../assets/trash-outline.svg");
  background-size: 21px;
  background-size: contain;
}

.undo-button {
  width: 40px;
  height: 40px;

  background: url("../assets/undo.png");
  background-size: contain;
  margin-left: auto;
  cursor: pointer;
  border: none;
}

.undo-button:hover {
  background: url("../assets/undo-ouline.svg");
  background-size: contain;
}

.check-button:focus,
.trash-button {
  outline: none;
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    margin: 0;
  }

  .wrapper .container {
    width: 100%;
  }

  .list-item {
    width: 90%;
  }

  .form {
    width: 100%;
  }
}
